.programs{
    margin: 80px auto;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.program img{
    height: 400px;
    width: 100%;
    border-radius: 10px;
    display: block;
    object-fit: cover;
}
.program{
    flex-basis: 31%;
    position: relative;
}
.caption{
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 15, 152, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    cursor: pointer;
    opacity: 0;
    padding-top: 70%;
    transition: 0.4s;
}
.caption p{
    margin-top: 10px;
    font-size: 19px;
    text-align: center; 
    text-shadow:
    -0.7px -0.7px 0 rgba(0, 15, 152, 0.3),  
    0.7px -0.7px 0 rgba(0, 15, 152, 0.3),
    -0.7px 0.7px 0 rgba(0, 15, 152, 0.3),
    0.7px 0.7px 0 rgba(0, 15, 152, 0.3);
}
.program:hover .caption{
    opacity: 1;
    padding-top: 0;
}
@media (max-width: 960px){
    .program img{
        width: 110%;
    }
}

@media (max-width: 650px){
    .programs{
        flex-direction: column;
    }
    .program{
        flex-basis: 100%;
        margin: 20px;
    }
    .program img{
        width: 120%;
    }
}